body{
    background-color: #ccdcdc;
    font-family: 'Karla', sans-serif;
  }

.principal-div{
  margin-top: 20px;
  margin: 28%;
  padding: 0%;
}

.header-div{
  align-content: center;
  height: 250px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0%;
}

.title{
  color: #2AB2AF;
  text-size-adjust: 20px;
  margin-left: 30px;
}

.price{
  color: #C0DF34;
  text-size-adjust: 7px;
  margin-left: 30px;
}

.header-text{
  color: #2AB2AF;
  margin-left: 30px;
}

.sign-div{
  background-color: #2AB2AF;
  position: absolute;
  top: 660px;
  width: 340px;
  height: 250px;
  margin: 0%;
  border-bottom-left-radius: 10px;
}

.Month{
  color: white;
}

.cost-text{
  color: white;
  font-size: 30px;
}