body{
    background-color: #ccdcdc;
    font-family: 'Karla', sans-serif;
    width: 1440px;
  }

.principal-div{
  margin-top: 20px;
  padding-bottom: 10%;
  padding-top: 10%;
  padding-left: 28%;
  padding-right: 28%;
}

.header-div{
  align-content: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 0px;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.title{
  color: #2AB2AF;
  font-size: 20px;
  margin-left: 30px;
}

.price{
  color: #C0DF34;
  text-size-adjust: 7px;
  margin-left: 30px;
}

.header-text{
  color: #2AB2AF;
  margin-left: 30px;
  font-size: 14px;
}

.sign-div{
  margin-top: 10px;
  background-color: #2AB2AF;
  width: 50%;
  border-bottom-left-radius: 10px;
  margin-bottom: 0%;
  position: relative;
  left: 0;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.Month{
  color: white;
  margin-left: 30px;
  margin-bottom: 0px;
}

.cost-text{
  color: white;
  font-size: 36px; /* Aumenta el tamaño de la fuente */
  margin-left: 30px;
}

.Month2{
  color: #E5EFF5;
}

table{
  margin-top: 15px;
}

.txt{
  color: white;
  margin-left: 30px;
}

.ben-div{
  margin-top: 10px;
  background-color: #98A6BD;
  width: 50%;
  border-bottom-right-radius: 10px;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.button{
  color: white;
  height: 40px;
  width: 200px;
  background-color: #C0DF34;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.div-column{
  display: flex;
  flex-direction: row;
}

.last-text{
  margin-left: 30px;
  line-height: 1.5;
}